infra/nodered/flows.json
[
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "MQTT Telemetry In",
        "topic": "scooter/+/telemetry",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_config",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "json_parse"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "flow1",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "validator"
            ]
        ]
    },
    {
        "id": "validator",
        "type": "function",
        "z": "flow1",
        "name": "Validate & Prepare",
        "func": "// Проверка и подготовка данных для InfluxDB\nlet p = msg.payload;\n\n// Обязательные поля\nlet fields = [\"u_batt_v\", \"i_batt_a\", \"t_batt_c\", \"t_ctrl_c\", \"speed_kmh\", \"ax_ms2\", \"ay_ms2\", \"az_ms2\"];\nfor (let f of fields) {\n    if (typeof p[f] === 'undefined') {\n        node.warn(`Field missing: ${f}`);\n        return null;\n    }\n}\n\n// Таймштамп\nlet ts = new Date();\nif (p.ts) {\n    ts = new Date(p.ts);\n}\n\n// device_id берём из MQTT топика\nlet topicParts = msg.topic.split(\"/\");\nlet device_id = topicParts[1] || \"unknown\";\n\n// Формируем объект для InfluxDB\nmsg.payload = [\n    {\n        measurement: \"scooter\",\n        tags: {\n            device_id: device_id,\n            fw_src: p.fw_src || \"unknown\"\n        },\n        fields: {\n            u_batt_v: parseFloat(p.u_batt_v),\n            i_batt_a: parseFloat(p.i_batt_a),\n            t_batt_c: parseFloat(p.t_batt_c),\n            t_ctrl_c: parseFloat(p.t_ctrl_c),\n            speed_kmh: parseFloat(p.speed_kmh),\n            ax_ms2: parseFloat(p.ax_ms2),\n            ay_ms2: parseFloat(p.ay_ms2),\n            az_ms2: parseFloat(p.az_ms2)\n        },\n        timestamp: ts.getTime() * 1000000 // наносекунды\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 120,
        "wires": [
            [
                "influx_out",
                "debug_log"
            ]
        ]
    },
    {
        "id": "influx_out",
        "type": "influxdb out",
        "z": "flow1",
        "influxdb": "influx_config",
        "name": "InfluxDB Out",
        "measurement": "scooter",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18Flux": true,
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "debug_log",
        "type": "debug",
        "z": "flow1",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "node_red_m365",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "influx_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "",
        "name": "Influx Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "token": "${INFLUXDB_TOKEN}",
        "org": "${INFLUXDB_ORG}",
        "bucket": "${INFLUXDB_BUCKET}"
    }
]