infra/nodered/flows.json
[
    {
        "id": "6e47464bce2b0f3d",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "node_red_m365",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "influx_config",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "",
        "name": "Influx Local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "",
        "rejectUnauthorized": false
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "6e47464bce2b0f3d",
        "name": "MQTT Telemetry In",
        "topic": "scooter/+/telemetry",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "json_parse"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "6e47464bce2b0f3d",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "validator"
            ]
        ]
    },
    {
        "id": "validator",
        "type": "function",
        "z": "6e47464bce2b0f3d",
        "name": "Validate & Prepare",
        "func": "// Validate & Prepare (safe) for InfluxDB v2\nlet p = msg.payload || {};\n\n// device_id из MQTT топика: m365/<device_id>/... или m365/telemetry (тогда unknown)\nlet topicParts = (msg.topic || \"\").split(\"/\");\nlet device_id = topicParts[1] || \"unknown\";\n\n// Собираем поля только если они реально числа\nfunction num(v) {\n    if (v === undefined || v === null) return undefined;\n    let n = Number(v);\n    return Number.isFinite(n) ? n : undefined;\n}\n\nlet fields = {};\nfields.u_batt_v = num(p.u_batt_v);\nfields.i_batt_a = num(p.i_batt_a);\nfields.t_batt_c = num(p.t_batt_c);\nfields.t_ctrl_c = num(p.t_ctrl_c);\nfields.speed_kmh = num(p.speed_kmh);\nfields.ax_ms2 = num(p.ax_ms2);\nfields.ay_ms2 = num(p.ay_ms2);\nfields.az_ms2 = num(p.az_ms2);\n\n// Удаляем undefined-поля\nObject.keys(fields).forEach(k => fields[k] === undefined && delete fields[k]);\n\n// Если вообще нет ни одного числового поля — не пишем в Influx\nif (Object.keys(fields).length === 0) {\n    node.warn(\"No numeric fields to write\");\n    return null;\n}\n\n// Tags\nlet tags = {\n    device_id: device_id,\n    fw_src: p.fw_src || \"unknown\"\n};\n\n// ВАЖНО: timestamp пока убираем — пусть Influx ставит своё время (самый надёжный вариант)\nmsg.measurement = \"scooter\";\nmsg.tags = {\n    device_id: device_id,\n    fw_src: p.fw_src || \"unknown\"\n};\n\nmsg.payload = {\n    u_batt_v: fields.u_batt_v,\n    i_batt_a: fields.i_batt_a,\n    t_batt_c: fields.t_batt_c,\n    t_ctrl_c: fields.t_ctrl_c,\n    speed_kmh: fields.speed_kmh,\n    ax_ms2: fields.ax_ms2,\n    ay_ms2: fields.ay_ms2,\n    az_ms2: fields.az_ms2\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 120,
        "wires": [
            [
                "influx_out",
                "debug_log"
            ]
        ]
    },
    {
        "id": "debug_log",
        "type": "debug",
        "z": "6e47464bce2b0f3d",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "influx_out",
        "type": "influxdb out",
        "z": "6e47464bce2b0f3d",
        "influxdb": "influx_config",
        "name": "InfluxDB Out",
        "measurement": "scooter",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "my-org",
        "bucket": "scooter",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "5a0c6801f07d0e3e",
        "type": "inject",
        "z": "6e47464bce2b0f3d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"u_batt_v\": 12.4,   \"i_batt_a\": 0.1,   \"t_batt_c\": 25,   \"t_ctrl_c\": 30,   \"speed_kmh\": 5,   \"ax_ms2\": 0,   \"ay_ms2\": 0,   \"az_ms2\": 9.8 }",
        "payloadType": "json",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "validator"
            ]
        ]
    }
]